/* The animation code */
@keyframes exemplo {
    from {background-color: black;}
    to {background-color: blueviolet;}
} 

/* O elemento onde a animação será aplicada */
.quadro {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: exemplo;
    animation-duration: 4s;
}